[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ens-contracts"]
	path = lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "lib/ops"]
	path = lib/ops
	url = https://github.com/gelatodigital/ops
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
	branch = main
[submodule "lib/alchemix"]
	path = lib/alchemix
	url = https://github.com/alchemix-finance/v2-foundry
[submodule "lib/aleth-router"]
	path = lib/aleth-router
	url = https://github.com/The-Wary-One/aleth-router
